.about {
  margin-top: 80px;
  // .about__title

  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #635c73;
    margin-bottom: 30px;
    @media (min-width: 481px) {
      font-weight: bold;
      font-size: 42px;
      line-height: 42px;
    }
    @media (min-width: 993px) {
      font-size: 54px;
      line-height: 54px;
    }
  }

  // .about__text

  &__text {
    // margin: 0 auto;
    // min-width: 275px;
    padding: 0 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    margin-bottom: 35px;
    @media (min-width: 481px) {
      font-size: 21px;
      line-height: 32px;
    }
  }

  // .about__buttons

  &__buttons {
    width: 250px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas:
      'watch star'
      'fork fork';
    @media (min-width: 411px) {
      width: 390px;
      grid-template-areas: 'watch fork star';
    }
  }

  // .about__button

  &__button {
    &:first-child {
      grid-area: watch;
    }
    &:nth-child(2) {
      grid-area: star;
    }
    &:last-child {
      grid-area: fork;
      margin: 20px 0;
      justify-self: center;
    }
    text-align: center;
    min-width: 120px;
    padding: 5px 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid rgba(115, 118, 122, 0.2);
    border-radius: 6px;
    & svg {
      margin-bottom: -3px;
      margin-right: 5px;
    }
    & span {
      margin-left: 5px;
      min-width: 20px;
      padding: 0 6px;
      font-size: 15px;
      line-height: 18px;
      background-color: rgba(122, 125, 129, 0.2);
      border-radius: 2em;
    }
  }
}
