.app {
  font-family: Montserrat;
  background: url('../img/sections/app/app-bg.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: -10px;
  // .app__content

  &__content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 300px;
    @media (min-width: 481px) {
      padding-top: 70px;
      padding-bottom: 350px;
    }
    @media (min-width: 993px) {
      padding-top: 105px;
      padding-bottom: 550px;
    }
    // content-title

    &-title {
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: white;
      @media (min-width: 481px) {
        font-size: 72px;
        line-height: 72px;
      }
      @media (min-width: 993px) {
        font-size: 82px;
        line-height: 82px;
      }
    }

    // content-desc

    &-desc {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
      color: #8d81ac;
      @media (min-width: 481px) {
        font-size: 24px;
        margin-bottom: 20px;
      }
      @media (min-width: 993px) {
        font-size: 29px;
        line-height: 29px;
      }
    }

    // content-version

    &-version {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: #848e97;
      @media (min-width: 993px) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
.button-download {
  font-family: Montserrat;
  text-align: center;
  & button {
    margin-top: -15px;
    width: 290px;
    cursor: pointer;
    border-radius: 40px;
    border: 0;
    background-color: #8d81ac;
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding: 11px 10px;
    @media (min-width: 481px) {
      width: 390px;
      font-size: 21px;
      padding: 20px 15px;
      margin-top: -25px;
      &:hover {
        background-color: #fff;
        color: black;
        border: 2px solid #8d81ac;
        padding: 18px 13px;
      }
    }
  }
  & p {
    padding-top: 50px;
    font-size: 14px;
    color: #848e97;
  }
}
