.functions {
  position: relative;
  background: #fff;
  padding-top: 100px;
  @media (min-width: 993px) {
    background: #f4f4f4;
  } 
  & .container {
  @media (min-width: 993px) {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas:
      'column title'
      'column editor';
  }
}
  // .functions__title

  &__title {
    grid-area: title;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #8d81ac;
    margin-bottom: 40px;
    @media (min-width: 481px) {
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 50px;
    }
    @media (min-width: 993px) {
      height: 0;
      font-size: 48px;
      line-height: 50px;
      padding: 0;
      margin: 0;
    }
  }

  // .functions__column

  &__column {
    padding: 0 10px;
    grid-area: column;
    text-align: center;
    @media (min-width: 993px) {
      padding: 0;
    }
  }

  // .functions__raw

  &__raw {
  }

  &__editor img {
    grid-area: editor;
    width: 150%;
    @media (min-width: 481px) {
      width: 100%;
      margin-left: 10px;
    }
    @media (min-width: 993px) {
      margin: 0;
      width: 700px;
    }
  }
}
.function-item {
  @media (min-width: 481px) {
    display: flex;
  }
  // .function-item__icon

  &__icon {
    min-width: 110px;
  }

  &__text {
    @media (min-width: 481px) {
      text-align: left;
      padding-left: 25px;
    }
    @media (min-width: 993px) {
      padding-right: 20px;
    }

    &-title {
      overflow-y: hidden;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 16px;
      color: #323232;
      margin-top: 25px;
      margin-bottom: 15px;
      @media (min-width: 481px) {
        margin: 0;
        margin-bottom: 15px;
      }
    }

    // .function-item__text

    &-desc {
      font-family: Lato;
      font-size: 14px;
      line-height: 21px;
      color: #848e97;
      margin-bottom: 40px;
      padding: 0 10px;
      @media (min-width: 481px) {
        padding: 0;
        margin-bottom: 60px;
      }
    }
  }
}
