.subscription {
  height: 100%;
  font-family: Montserrat;
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  background: url('../img/sections/subscription/bg.png');
  background-size: cover;
  // .subscription__title
  @media (min-width:481px) {
    padding-top: 90px;
  }
  @media (min-width:993px) {
    padding-top: 110px;
  }
  
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 30px;
    @media (min-width: 481px) {
      font-size: 42px;
    }
    @media (min-width: 993px) {
      font-size: 48px;
    }
    @media (min-width: 1180px) {
      margin-bottom: 100px;
    }
  }

  // .subscription__pricing

  &__pricing {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 651px) {
      max-width: 600px;
      // padding: 0 13px;
    }
    @media (min-width: 1180px) {
      max-width: 1200px;
      // padding: 0 13px;
    }
    // @media (min-width: 481px) {
    //   max-width: 600px;
    //   margin: 0 auto;
    //   // padding: 0 13px;
    // }
  }
}

.price-card {
  color: #ffffff;
  min-width: 257px;
  height: 457px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba($color: white, $alpha: 0.06);
  &:nth-child(3) {
    background-color: #463048;
    width: 300px;
    height: 560px;
    @media (min-width: 651px) {
      margin: 0 auto;
      margin-left: -10px;
      margin-top: -30px;
      margin-right: 10px;
    }
    @media (min-width: 1180px) {
      margin: 0;
      margin-top: -30px;
      // padding: 0 13px;
    }
  }
  @media (min-width: 481px) {
    margin-bottom: 70px;
  }

  // .price-card__title

  &__title {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 36px 0;
    background-color: rgba($color: white, $alpha: 0.06);
    &.active {
      background-color: rgba($color: black, $alpha: 0.11);
    }
  }

  // .price-card__price

  &__price {
    font-weight: bold;
    font-size: 60px;
    margin: 30px 0 20px;
    &.active {
      font-size: 82px;
    }
  }

  // .price-card__period

  &__period {
    font-size: 14px;
    margin-bottom: 40px;
  }

  // .price-card__line

  &__line {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60px;
    height: 5px;
    background: #8d81ac;
  }

  // .price-card__get

  &__get {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
    &.active {
      line-height: 32px;
      margin-bottom: 80px;
    }
  }

  // .price-card__purchase-button

  &__purchase-button {
    & button {
      font-family: Montserrat;
      cursor: pointer;
      border-radius: 40px;
      border: 0;
      background-color: rgba($color: white, $alpha: 0.15);
      color: white;
      font-size: 15px;
      padding: 11px 38px;
      margin-bottom: 80px;
      text-transform: uppercase;
    }
    &.active button {
      font-size: 16px;
      padding: 15px 48px;
    }
  }
}
