.testimonials {
  background-image: url('../img/sections/testimonials/testmonials-bg.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 15px;
  margin-bottom: -15px;
  &__title {
    font-family: Montserrat;
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    padding: 55px 0 55px;
  }
}

.testimonials__clients {
  @media (min-width: 481px) {
    display: flex;
    flex-wrap: wrap;
}
}
.clients {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  &__logo {
    height: 64px;
    padding-bottom: 30px;
  }
  &__text {
    text-align: center;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color:white;
    @media (min-width: 481px) {
      padding: 0;
      padding-bottom: 40px;
    }
  }
}

.testimonials__resume {
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #A291A5;
margin: 0 25px;
padding-bottom: 20px;
border-bottom: 2px solid #645766;
}
