<header class="header">
  <div class="header__menu container">
        <div class="header__logo">
          <div class="header__logo-image">
        <a href=""></a>
</div>
  <h2 class="header__logo-name"><a href="">ForkIO</a></h2>
</div>
<div class="header__button">
  <button>Buy Now</button>
</div>
@@include('./navbar.html')  
</div>
</header>
