<nav class="navbar__menu">
  <div class="navbar__menu-burger">
    <span></span>
  </div>
    <ul class="navbar__menu-list">
      <li class="navbar__menu-item"><a href="#">Overview</a></li>
      <li class="navbar__menu-item"><a href="#">About Fork</a></li>
      <li class="navbar__menu-item"><a href="#">Buying Options</a></li>
      <li class="navbar__menu-item"><a href="#">Support</a></li>
    </ul>
  </nav> 