.header {
  font-family: Montserrat;
  background-color: #27262a;
  @media (min-width:993px) {
    background-color: #000;
  }
}
.header__menu {
  padding: 25px 10px;
  display: grid;
  grid-template-columns: 45px 140px 40px;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 481px) and (max-width: 992px) {
    grid-template-columns: 150px 165px;
    grid-template-areas: 
    "logo button"
    "navbar navbar";
  }
  @media (min-width: 993px) {
    padding: 25px 40px;
    grid-template-columns: 150px 1fr 165px;
    grid-template-areas: 
    "logo navbar button";
  }
}

.header__button {
  & button {
  width: 140px;
  cursor:pointer;
  border-radius: 40px;
  border: 0;
  background-color: #8d81ac;
  font-weight: 700;
  color: white;
  font-size: 15px;
  padding: 11px 10px;

  @media (min-width: 481px) {
    grid-area: button;
    min-width: 165px;
    &:hover {
      background-color: #fff;
      color: black;
    }
  }
  @media (min-width: 993px) {
  }
}
}

.header__logo {
  display: flex;
  cursor:pointer;
  &:hover {
    .header__logo-image {
      @media (min-width: 481px) {
        grid-area: logo;
        background: url('../img/header/logo-hover.png');
      }
    }
    .header__logo-name {
      color: white;
    }
  }
  &-image {
    width: 43px;
    height: 42px;
    padding-left: 5px;
    background: url('../img/header/logo.png');
  }
  &-name {
    display: none;
    @media (min-width: 481px) {
      display: inline-block;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #8D81AC;
      padding-left: 15px;
    }
  }
}

@import './navbar.scss';