.navbar__menu {
  @media (min-width: 481px) {
    grid-area: navbar;
    }
    @media (min-width: 993px) {
      justify-self: end;
      margin-right: 40px;
    }
  &-list {
      @media (max-width: 481px) {
      display: none;
      position: absolute;
      background-color: #333333;
      width: 290px;
      top: 92px;
      right: 15px;
      transition: 0.3s;
      padding-bottom: 10px;
      &.active {
        display: block;
      }
    }
    @media (min-width: 481px) and (max-width: 993px) {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background-color: #27262a;
      padding-top: 20px;
      max-width: 540px;
      // color: #8d81ac;
    }
    @media (min-width: 993px) {
      display: flex;
      justify-content: space-between;
      width: 540px;
    }
  }
  &-item {
    @media (max-width: 480px) {
    font-weight: normal;
    font-size: 26px;
    // line-height: 26px;
    padding: 30px 0 20px;
    padding-left: 40px;
    color: white;
    border-bottom: 3px solid #424242;
    &:active {
      color: #8d81ac;
    }
    &:active::before {
      content: '';
      background-color: #8d81ac;
      position: absolute;
      width: 8px;
      height: 45px;
      left: 0;
      transition: 0.3s;
      margin-top: -10px;}
    }
    @media (min-width: 481px) {
      font-size: 16px;
      // line-height: 18px;
      font-weight: bold;
      padding: 0;
      color: #8d81ac;
      border: none;
      &:hover {
        color: #fff;
      }
    }
  }
  &-burger {
    display: block;
    @media (min-width: 481px) {
      display: none;
    }
    position: relative;
    width: 50px;
    height: 35px;
    margin-right: -5px;
  
    & span {
      background-color: white;
      position: absolute;
      width: 50%;
      height: 3px;
      left: 25%;
      top: 50%;
      transition: 0.3s;
      border-radius: 5px;
    }
  
    &::before {
      content: '';
      background-color: white;
      position: absolute;
      width: 30%;
      height: 3px;
      left: 45%;
      top: 25%;
      transition: 0.3s;
      border-radius: 5px;
    }
    &::after {
      content: '';
      background-color: white;
      position: absolute;
      width: 50%;
      height: 3px;
      left: 25%;
      top: 75%;
      transition: 0.3s;
      border-radius: 5px;
    }
  
    &.active {
      &::before {
        width: 50%;
        left: 25%;
        height: 2px;
        transform: rotate(45deg);
        top: 17px;
      }
      &::after {
        height: 2px;
        transform: rotate(-45deg);
        top: 17px;
      }
      & span {
        transform: scale(0);
      }
    }
  }
}

