
body, html {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  // Всё кроме сафари
  // overscroll-behavior: none;
  // А это поможет в сафари, но только если контент не больше вьюпорта
  touch-action: pan-y;
}


.container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
  @media (min-width: 481px) {
    width: 100%;
  }
  @media (min-width: 993px) {
    max-width: 1200px;
    padding: 0 40px;
  }
}

@import './fonts.scss';
@import './header/header.scss';
@import './sections/testimonials.scss';
@import './sections/app.scss';
@import './sections/about.scss';
@import './sections/functions.scss';
@import './sections/subscription.scss';
