<section class="app">
  <div class="app__content container">
  <h2 class="app__content-title">Fork App</h2>
  <p class="app__content-desc">A Real Gamechanger In The World Of Web-Development</p>
  <p class="app__content-version">v. 2.8 For Mac and Windows</p>
</div>
</section>
<div class="button-download container">
<button>Download For Free Now</button>
<p>Unlimited 30-Days Trial Period</p>
</div>