<section class="functions">
  <div class="container">
  <div class="functions__title">&lt;Here is what you get&gt</div>
  <div class="functions__column">
    <div class="function-item">
      <div class="function-item__icon">
        <img src="@img/sections/functions/icon1.png" alt="" />
      </div>
      <div class="function-item__text">
        <div class="function-item__text-title">Creatred to Make The Web Better</div>
        <div class="function-item__text-desc">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</div>
      </div>
    </div>
    <div class="function-item">
      <div class="function-item__icon"><img src="@img/sections/functions/icon2.png" alt="" /></div>
      <div class="function-item__text">
        <div class="function-item__text-title">Incredibly Powerful Tool</div>
        <div class="function-item__text-desc">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
    <div class="function-item">
      <div class="function-item__icon"><img src="@img/sections/functions/icon3.png" alt="" /></div>
      <div class="function-item__text">
        <div class="function-item__text-title">Experimental Stuff</div>
        <div class="function-item__text-desc">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
    <div class="function-item">
      <div class="function-item__icon"><img src="@img/sections/functions/icon4.png" alt="" /></div>
      <div class="function-item__text">
        <div class="function-item__text-title">Creatred to Make The Web Better</div>
        <div class="function-item__text-desc">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
  </div>
  <div class="functions__editor">
    <img src="@img/sections/functions/editor.png" alt="" />
  </div>
</div>
</section>
