<section class="subscription">
  <div class="container">
    <div class="subscription__title">Fork Subscription Pricing</div>
    <div class="subscription__pricing">
      <div class="price-card">
        <div class="price-card__title">Students</div>
        <div class="price-card__price">$29</div>
        <div class="price-card__period">per month</div>
        <div class="price-card__line"></div>
        <div class="price-card__get">Personal License <br> &nbsp </div>
        <div class="price-card__purchase-button">
          <button>purchase</button>
        </div>
      </div>
      <div class="price-card">
        <div class="price-card__title">professional</div>
        <div class="price-card__price">$59</div>
        <div class="price-card__period">per Month</div>
        <div class="price-card__line"></div>
        <div class="price-card__get">
          Professional License <br />
          Email Support
        </div>
        <div class="price-card__purchase-button">
          <button>purchase</button>
        </div>
      </div>
      <div class="price-card">
        <div class="price-card__title active">agency</div>
        <div class="price-card__price active">$99</div>
        <div class="price-card__period">per month</div>
        <div class="price-card__line"></div>
        <div class="price-card__get active">
          1-12 Team Members <br />
          Phone Support
        </div>
        <div class="price-card__purchase-button active">
          <button>purchase</button>
        </div>
      </div>
      <div class="price-card">
        <div class="price-card__title">enterprise</div>
        <div class="price-card__price">$159</div>
        <div class="price-card__period">per month</div>
        <div class="price-card__line"></div>
        <div class="price-card__get">
          Unlimited Team Members <br />
          24/ 7 Phone Support
        </div>
        <div class="price-card__purchase-button">
          <button>purchase</button>
        </div>
      </div>
    </div>
  </div>
</section>
