<section class="testimonials">
  <div class="container">
  <h2 class="testimonials__title title">People Are Talking About Fork</h2>
  <div class="testimonials__clients">
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo5.png" alt="">
      </div>
      <div class="clients__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. 
      </div>
    </div>
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo6.png" alt="">
      </div>
      <div class="clients__text">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
      </div>
    </div>
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo7.png" alt="">
      </div>
      <div class="clients__text">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. 
      </div>
    </div>
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo8.png" alt="">
      </div>
      <div class="clients__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. 
      </div>
    </div>
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo0.png" alt="">
      </div>
      <div class="clients__text">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.  
      </div>
    </div>
    <div class="clients">
      <div class="clients__logo">
        <img src="@img/sections/testimonials/logo2.png" alt="">
      </div>
      <div class="clients__text">
        Fusce pharetra erat id odio blandit, nec <br> pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.
      </div>
    </div>
  </div>
  <div class="testimonials__resume">
    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
  </div>
</div>
</section>